.contacto {
    display: flex;
    min-height: calc(100vh - 70px);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 4;
  
    div {
      background-color: rgba(81, 10, 17, 0.4);
      padding: 10px 15px;
      border-radius: 20px;
      max-width: 400px;
      color: whitesmoke;
    }
  }