.home {
  display: flex;
  min-height: calc(100vh - 70px);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 4;

  div {
    background-color: rgba(81, 10, 17, 0.4);
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 400px;
    color: whitesmoke;
  }
}

.Dragon {
  max-width: 1000px;
  width: 100%;
  position: absolute;
  left: 10px;
  top: 60px;
  z-index: 3;
}

.Coronavirus {
  max-width: 30%;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 50px;
  z-index: 1;
}
